*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* accounts for padding + margin + border in widht & height */
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    
}

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 15%;
}

.navlinks {
    font-family: 'Poiret One', cursive;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}

.navlinks:hover {
    letter-spacing: 3px;
    font-weight: bold;
    color: gray;
    transition: all .5s ease-out;
    cursor: help;
}

.logo {
    height: 75px;
}

.container {
    margin-top: 150px;
    border: 1px solid gray;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
}

.head {
    width: 100%;
}

h1 {
    font-family: 'Londrina Shadow', cursive;
    color: black;
    font-size: 30px;
    letter-spacing: 3px;
    width: 100%;
}

.info {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 20px;
}

.descriptor {
    font-family: 'Satisfy', cursive;
    width: 40%;
}

.description {
    font-family: 'Poiret One', cursive;
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .header {
        font-size: 10px
    }
    .logo {
        height:25px;
    }
    .navlinks {
        visibility: hidden;
    }

    .container {
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 20px;
        text-align:center;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 20px;
    }
    
    .descriptor {
        font-family: 'Satisfy', cursive;
        text-align: center;
        width: 100%;
        font-size: 12px;
    }
    
    .description {
        text-align: center;
        font-family: 'Poiret One', cursive;
        font-size: 10px;
    }
}

/* responsive - for tablet */
@media only screen and (min-width: 501px) and (max-width: 1025px) {
    .container {
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 20px;
        text-align:center;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 20px;
    }
    
    .descriptor {
        font-family: 'Satisfy', cursive;
        text-align: center;
        width: 100%;
        font-size: 17px;
    }
    
    .description {
        text-align: center;
        font-family: 'Poiret One', cursive;
        font-size: 13px;
    }
}

/* responsive - for desktop */
@media only screen and (min-width: 1026px) {

}