*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* accounts for padding + margin + border in widht & height */
    font-family: 'Comfortaa', cursive;
}

body {
    height: 100vh;
    /* background-image: linear-gradient(rgb(227, 237, 255), rgb(192, 209, 241), #b3d1f5); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg {
    overflow: auto;
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(10px, max-content));
    justify-content: center;
    align-items: end;
    height: 50%;
}

.grass {
    position: absolute;
    bottom: 0px;
    height: 30vh;
    width: 100%;
    z-index: 3;
    background-image: url("grass.svg");
}

#g, #h, #m, #c {
    font-family:'Bungee Shade', cursive;
    color: rgb(207, 91, 91);
    font-size: 20px;
}



#g:hover, #h:hover, #m:hover, #c:hover {
    color: rgb(94, 56, 56);
    cursor: help;
    animation: pulse 1s infinite;
    border-radius: 30px;
}

.top {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items:center;
}

#gatewood, #clark, #morgan, #harding {
    height: 40vh;
    transition: all 1s ease-out;
}

.title {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100px;
}

#gmodal, #hmodal, #mmodal, #cmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 70%; /* Full height */
    justify-content: center;
    align-items: center;
  }

  /* Modal Content */
  .modalcontent {
    overflow: auto; /* Enable scroll if needed */
    border-radius: 25px;
    margin: auto;
    padding: 50px;
    border: none;
    height: 100%;
    width: 80%;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  }

  .close {
    font-family: 'Inconsolata', monospace;
    font-size: 13px;
    color:rgb(44, 63, 51);
    transition: all .3s ease-in-out;
}

  .close:hover {
    font-size: 14px;
    color: whitesmoke;
    cursor:pointer;
}

h1 {
    text-align: center;
    font-family:'Bungee Shade', cursive;
    padding-bottom: 20px;
    color: white;
}

h2 {
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 15px;
    color: rgb(44, 63, 51);
}

h3 {
    font-family: 'Londrina Shadow', cursive;
    font-size: 25px;
    color: rgb(44, 63, 51);
}

hr {
    color: rgb(44, 63, 51);
    margin: 20px;
}

.hallInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.col2 {
    width: 70%;
    list-style-type: none;
}

.paragraph {
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}




/* responsive - for mobile */
@media only screen and (max-width: 500px) {
    #gatewood, #clark, #morgan, #harding{
        height: 15vh;
    }
    .grass {
        height: 19vh;
    }
    #g, #h, #m, #c {
        font-size: 10px;
    }
}

/* responsive - for tablet */
@media only screen and (min-width: 501px) and (max-width: 1025px) {
    #gatewood, #clark, #morgan, #harding {
        height: 25vh;
    }
    .grass {
        height: 25vh;
    }
    #g, #h, #m, #c {
        font-size: 15px;
    }
}

/* responsive - for desktop */
@media only screen and (min-width: 1026px) {

}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
