*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* accounts for padding + margin + border in widht & height */
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: lightblue;
}

.bg {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(10px, max-content));
    justify-items: center;
    align-items: end;
}
.gatewood, .clark, .morgan, .harding {
    height: 40vh;
}

.title {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100px;
}



