*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* accounts for padding + margin + border in widht & height */
    font-family: 'Comfortaa', cursive;
}

body {
    height: 100vh;
    /* background-image: linear-gradient(rgb(227, 237, 255), rgb(192, 209, 241), #b3d1f5); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg {
    overflow: auto;
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(10px, max-content));
    justify-items: center;
    align-items: end;
}

.grass {
    position: absolute;
    bottom: 0px;
    height: 20vh;
    width: 100%;
    background-image: url("grass.svg");
}

.g, .h, .m, .c {
    font-family:'Bungee Shade', cursive;
    color: rgb(207, 91, 91);
    font-size: 20px;
}



.g:hover, .h:hover, .m:hover, .c:hover {
    color: rgb(94, 56, 56);
    cursor: help;
    animation: pulse 1s infinite;
    border-radius: 30px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.gatewood, .clark, .morgan, .harding {
    height: 40vh;
}

.title {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100px;
}

/* responsive - for mobile */
@media only screen and (max-width: 500px) {
    body {
        min-height: -webkit-fill-available;
    }
    .gatewood, .clark, .morgan, .harding {
        height: 15vh;
    }
    .grass {
        height: 10vh;
    }
    .g, .h, .m, .c {
        font-size: 10px;
    }
}

/* responsive - for tablet */
@media only screen and (min-width: 501px) and (max-width: 1025px) {
    .gatewood, .clark, .morgan, .harding {
        height: 25vh;
    }
    .grass {
        height: 15vh;
        width: 100%;
    }
    .g, .h, .m, .c {
        font-size: 15px;
    }
}

/* responsive - for desktop */
@media only screen and (min-width: 1026px) {

}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}